In [134]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score, roc_curve, auc
from sklearn.preprocessing import OneHotEncoder
from sklearn import tree

In [135]:
df = pd.read_csv("american_bankruptcy.csv", header =1)

In [136]:
df.head()

,company_name,status_label,year,current_assets,cogs,depr_amort,ebitda,inventory,net_income,total_receivables,...,net_sales,total_assets,total_debt,ebit,gross_profit,total_current_liabilities,retained_earnings,total_revenue,total_liabilities,total_operating_expenses
0,C_1,alive,1999,511.267,833.107,18.373,89.031,336.018,35.163,128.348,...,1024.333,740.998,180.447,70.658,191.226,163.816,201.026,1024.333,401.483,935.302
1,C_1,alive,2000,485.856,713.811,18.577,64.367,320.590,18.531,115.187,...,874.255,701.854,179.987,45.790,160.444,125.392,204.065,874.255,361.642,809.888
2,C_1,alive,2001,436.656,526.477,22.496,27.207,286.588,-58.939,77.528,...,638.721,710.199,217.699,4.711,112.244,150.464,139.603,638.721,399.964,611.514
3,C_1,alive,2002,396.412,496.747,27.172,30.745,259.954,-12.410,66.322,...,606.337,686.621,164.658,3.573,109.590,203.575,124.106,606.337,391.633,575.592
4,C_1,alive,2003,432.204,523.302,26.680,47.491,247.245,3.504,104.661,...,651.958,709.292,248.666,20.811,128.656,131.261,131.884,651.958,407.608,604.467

In [137]:
df.columns

Index([' company_name', 'status_label', 'year', 'current_assets', 'cogs',
       'depr_amort', 'ebitda', 'inventory', 'net_income', 'total_receivables',
       'market_value', 'net_sales', 'total_assets', 'total_debt', 'ebit',
       'gross_profit', 'total_current_liabilities', 'retained_earnings',
       'total_revenue', 'total_liabilities', 'total_operating_expenses'],
      dtype='object')

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78682 entries, 0 to 78681
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0    company_name              78682 non-null  object
 1   status_label               78682 non-null  object
 2   year                       78682 non-null  int64
 3   current_assets             78682 non-null  float64
 4   cogs                       78682 non-null  float64
 5   depr_amort                 78682 non-null  float64
 6   ebitda                     78682 non-null  float64
 7   inventory                  78682 non-null  float64
 8   net_income                 78682 non-null  float64
 9   total_receivables          78682 non-null  float64
 10  market_value               78682 non-null  float64
 11  net_sales                  78682 non-null  float64
 12  total_assets               78682 non-null  float64
 13  total_debt                 78682 non-null  float64
 14  ebit                       78682 non-null  float64
 15  gross_profit               78682 non-null  float64
 16  total_current_liabilities  78682 non-null  float64
 17  retained_earnings          78682 non-null  float64
 18  total_revenue              78682 non-null  float64
 19  total_liabilities          78682 non-null  float64
 20  total_operating_expenses   78682 non-null  float64
dtypes: float64(18), int64(1), object(2)
memory usage: 12.6+ MB

In [139]:
df[' company_name'].value_counts()

C_1117    20
C_6330    20
C_116     20
C_3025    20
C_2741    20
          ..
C_4492     1
C_2726     1
C_1290     1
C_534      1
C_5768     1
Name:  company_name, Length: 8971, dtype: int64

In [140]:
df = df.rename(columns={' company_name': 'company_name'})

In [141]:
df.head(2)

,company_name,status_label,year,current_assets,cogs,depr_amort,ebitda,inventory,net_income,total_receivables,...,net_sales,total_assets,total_debt,ebit,gross_profit,total_current_liabilities,retained_earnings,total_revenue,total_liabilities,total_operating_expenses
0,C_1,alive,1999,511.267,833.107,18.373,89.031,336.018,35.163,128.348,...,1024.333,740.998,180.447,70.658,191.226,163.816,201.026,1024.333,401.483,935.302
1,C_1,alive,2000,485.856,713.811,18.577,64.367,320.590,18.531,115.187,...,874.255,701.854,179.987,45.790,160.444,125.392,204.065,874.255,361.642,809.888

In [142]:
#df_sorted = df.sort_values(by=[' company_name', 'year'])
#df_sorted.head()
#grouped_data = df_sorted.groupby(' company_name')
#grouped_data.head()
#df['last_year'] = df['year'].transform(lambda x: 'Y' if x.max() == x.values[-1] else 'Y')

In [143]:
df["EBIT/TOTAL_ASSETS"] = df["ebit"] / df["total_assets"]
df["NET_SALES/TOTAL_ASSETS"] = df["net_sales"] / df["total_assets"]
df["WORKING_CAPITAL/TOTAL_ASSETS"] = (df["current_assets"]- df["total_current_liabilities"]) / df["total_assets"]
df["CURRENT_ASSETS/CURRENT_LIABILITIES"] = df["current_assets"] / df["total_current_liabilities"]
df["NET_SALES-COGS"] = (df["net_sales"] - df["cogs"]) / df["net_sales"]

In [144]:
df.head()

,company_name,status_label,year,current_assets,cogs,depr_amort,ebitda,inventory,net_income,total_receivables,...,total_current_liabilities,retained_earnings,total_revenue,total_liabilities,total_operating_expenses,EBIT/TOTAL_ASSETS,NET_SALES/TOTAL_ASSETS,WORKING_CAPITAL/TOTAL_ASSETS,CURRENT_ASSETS/CURRENT_LIABILITIES,NET_SALES-COGS
0,C_1,alive,1999,511.267,833.107,18.373,89.031,336.018,35.163,128.348,...,163.816,201.026,1024.333,401.483,935.302,0.095355,1.382369,0.468896,3.120983,0.186683
1,C_1,alive,2000,485.856,713.811,18.577,64.367,320.590,18.531,115.187,...,125.392,204.065,874.255,361.642,809.888,0.065241,1.245637,0.513588,3.874697,0.183521
2,C_1,alive,2001,436.656,526.477,22.496,27.207,286.588,-58.939,77.528,...,150.464,139.603,638.721,399.964,611.514,0.006633,0.899355,0.402974,2.902063,0.175732
3,C_1,alive,2002,396.412,496.747,27.172,30.745,259.954,-12.410,66.322,...,203.575,124.106,606.337,391.633,575.592,0.005204,0.883074,0.280849,1.947253,0.180741
4,C_1,alive,2003,432.204,523.302,26.680,47.491,247.245,3.504,104.661,...,131.261,131.884,651.958,407.608,604.467,0.029341,0.919167,0.424286,3.292707,0.197338

In [145]:
df["SOLVENCY_RATING"] = 0
df["LIQUIDITY_RATING"] = 0
df["PROFITABILITY_RATING"] = 0
df["BUSINESS_HEALTH"] = 0

In [146]:
df = df.drop(columns = ['ebit', 'total_assets', 'net_sales','total_current_liabilities','retained_earnings','status_label','current_assets','cogs'],)

In [147]:
#df.info()

In [148]:
df.loc[((df['EBIT/TOTAL_ASSETS'] > .05 ) & (df['EBIT/TOTAL_ASSETS'] < .20)), ['SOLVENCY_RATING'] ] += 1
df.loc[((df['EBIT/TOTAL_ASSETS'] > .2)), ['SOLVENCY_RATING']] += 2

df.loc[((df['NET_SALES/TOTAL_ASSETS'] > .25 ) & (df['NET_SALES/TOTAL_ASSETS'] < .50)), ['SOLVENCY_RATING'] ] += 1
df.loc[((df['NET_SALES/TOTAL_ASSETS'] > .50 )), ['SOLVENCY_RATING']] += 2

df.loc[((df['WORKING_CAPITAL/TOTAL_ASSETS'] > 1.5 ) & (df['WORKING_CAPITAL/TOTAL_ASSETS'] < 2)), ['SOLVENCY_RATING'] ] += 1

In [149]:
df.loc[((df['CURRENT_ASSETS/CURRENT_LIABILITIES'] > 1.2 ) & (df['CURRENT_ASSETS/CURRENT_LIABILITIES'] < 2)), ['LIQUIDITY_RATING'] ] += 1
df.loc[((df['CURRENT_ASSETS/CURRENT_LIABILITIES'] > 2 )), ['LIQUIDITY_RATING'] ] += 2

In [150]:
df.loc[((df['NET_SALES-COGS'] > .50 ) & (df['NET_SALES-COGS'] < .70)), ['PROFITABILITY_RATING'] ] += 1
df.loc[((df['NET_SALES-COGS'] > .70 )), ['PROFITABILITY_RATING']] += 2

In [151]:

df["BUSINESS_HEALTH"] = (df['SOLVENCY_RATING'] + df['LIQUIDITY_RATING'] + df['PROFITABILITY_RATING'])

In [152]:

df['BUSINESS_HEALTH'].value_counts()

4    20691
5    16678
3    14622
2    12923
6     6634
1     2547
7     2125
0     1893
8      569
Name: BUSINESS_HEALTH, dtype: int64

In [153]:
  df_company = df.drop_duplicates(subset=["company_name"])
df_company

,company_name,year,depr_amort,ebitda,inventory,net_income,total_receivables,market_value,total_debt,gross_profit,...,total_operating_expenses,EBIT/TOTAL_ASSETS,NET_SALES/TOTAL_ASSETS,WORKING_CAPITAL/TOTAL_ASSETS,CURRENT_ASSETS/CURRENT_LIABILITIES,NET_SALES-COGS,SOLVENCY_RATING,LIQUIDITY_RATING,PROFITABILITY_RATING,BUSINESS_HEALTH
0,C_1,1999,18.373,89.031,336.018,35.163,128.348,372.7519,180.447,191.226,...,935.302,0.095355,1.382369,0.468896,3.120983,0.186683,3,2,0,5
19,C_2,1999,102.090,413.739,243.882,87.635,436.751,7161.3749,11.024,996.805,...,1513.208,0.186334,1.152116,0.368594,2.492864,0.517298,3,2,1,6
31,C_3,1999,0.667,-0.265,5.494,-2.207,3.924,3.2449,5.974,9.574,...,29.635,-0.066638,2.099957,0.497140,3.479672,0.325979,2,2,0,4
40,C_4,1999,25.633,123.160,161.033,36.972,189.261,910.5998,591.784,365.760,...,609.283,0.084056,0.631272,0.187540,2.324576,0.499370,3,2,0,5
49,C_5,1999,2.024,3.873,10.947,-0.138,15.890,6.1972,0.591,27.743,...,103.437,0.043805,2.542289,-0.257711,0.726924,0.258531,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78652,C_8967,2010,1123.000,4191.000,4824.000,10151.000,3747.000,19420.6232,6036.000,5169.000,...,36960.000,0.120342,1.614145,0.353926,2.897183,0.125611,3,2,0,5
78661,C_8968,2013,0.441,-34.415,7.271,-35.578,0.660,52.0572,0.000,0.204,...,36.670,-0.502791,0.032528,0.885510,10.521948,0.090466,0,2,0,2
78666,C_8969,2014,86.700,211.600,205.800,-29.900,327.300,4227.5957,1400.800,518.800,...,631.600,0.027405,0.185010,0.293093,6.506183,0.615275,0,2,1,3
78671,C_8970,2013,45.600,409.000,314.600,31.000,266.100,4243.5215,1272.000,887.500,...,1684.500,0.183545,1.057377,0.218546,1.882161,0.423931,3,1,0,4
78677,C_8971,2014,14.094,45.615,3.376,25.261,22.846,756.4827,184.666,60.885,...,58.608,0.028679,0.094826,0.186529,8.270773,0.584180,0,2,1,3

In [154]:
df_sub = df_company.drop(["company_name", "year"], axis =1)
df_sub

,depr_amort,ebitda,inventory,net_income,total_receivables,market_value,total_debt,gross_profit,total_revenue,total_liabilities,total_operating_expenses,EBIT/TOTAL_ASSETS,NET_SALES/TOTAL_ASSETS,WORKING_CAPITAL/TOTAL_ASSETS,CURRENT_ASSETS/CURRENT_LIABILITIES,NET_SALES-COGS,SOLVENCY_RATING,LIQUIDITY_RATING,PROFITABILITY_RATING,BUSINESS_HEALTH
0,18.373,89.031,336.018,35.163,128.348,372.7519,180.447,191.226,1024.333,401.483,935.302,0.095355,1.382369,0.468896,3.120983,0.186683,3,2,0,5
19,102.090,413.739,243.882,87.635,436.751,7161.3749,11.024,996.805,1926.947,423.978,1513.208,0.186334,1.152116,0.368594,2.492864,0.517298,3,2,1,6
31,0.667,-0.265,5.494,-2.207,3.924,3.2449,5.974,9.574,29.370,8.778,29.635,-0.066638,2.099957,0.497140,3.479672,0.325979,2,2,0,4
40,25.633,123.160,161.033,36.972,189.261,910.5998,591.784,365.760,732.443,808.333,609.283,0.084056,0.631272,0.187540,2.324576,0.499370,3,2,0,5
49,2.024,3.873,10.947,-0.138,15.890,6.1972,0.591,27.743,107.310,52.453,103.437,0.043805,2.542289,-0.257711,0.726924,0.258531,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78652,1123.000,4191.000,4824.000,10151.000,3747.000,19420.6232,6036.000,5169.000,41151.000,13898.000,36960.000,0.120342,1.614145,0.353926,2.897183,0.125611,3,2,0,5
78661,0.441,-34.415,7.271,-35.578,0.660,52.0572,0.000,0.204,2.255,6.940,36.670,-0.502791,0.032528,0.885510,10.521948,0.090466,0,2,0,2
78666,86.700,211.600,205.800,-29.900,327.300,4227.5957,1400.800,518.800,843.200,2005.000,631.600,0.027405,0.185010,0.293093,6.506183,0.615275,0,2,1,3
78671,45.600,409.000,314.600,31.000,266.100,4243.5215,1272.000,887.500,2093.500,2035.600,1684.500,0.183545,1.057377,0.218546,1.882161,0.423931,3,1,0,4
78677,14.094,45.615,3.376,25.261,22.846,756.4827,184.666,60.885,104.223,225.887,58.608,0.028679,0.094826,0.186529,8.270773,0.584180,0,2,1,3

In [155]:
y = df_sub['BUSINESS_HEALTH']
X = df_sub.drop("BUSINESS_HEALTH", axis=1).select_dtypes("number")
#X = df_sub[['EBIT/TOTAL_ASSETS', 'NET_SALES/TOTAL_ASSETS', 'WORKING_CAPITAL/TOTAL_ASSETS','CURRENT_ASSETS/CURRENT_LIABILITIES', 'NET_SALES-COGS']]
#X = df_sub.drop(['EBIT/TOTAL_ASSETS', 'NET_SALES/TOTAL_ASSETS', 'WORKING_CAPITAL/TOTAL_ASSETS', 'NET_SALES-COGS'], axis =1)
#X = df_sub.drop(['SOLVENCY_RATING', 'LIQUIDITY_RATING', 'PROFITABILITY_RATING'], axis =1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [156]:
classifier = DecisionTreeClassifier(criterion='entropy',max_features=11, max_depth=6, random_state=10)  
classifier.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=6, max_features=11,
                       random_state=10)

In [157]:
y_pred = classifier.predict(X_test)

In [158]:
acc = accuracy_score(y_test,y_pred) * 100
print('Accuracy is :{0}'.format(acc))

# Check the AUC for predictions
#false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test, y_pred, pos_label='label')
#roc_auc = auc(false_positive_rate, true_positive_rate)
#print('\nAUC is :{0}'.format(round(roc_auc, 2)))

# Create and print a confusion matrix 
print('\nConfusion Matrix')
print('----------------')
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Accuracy is :93.49925705794948

Confusion Matrix
----------------

Predicted    0   1    2    3    4    5    6   7   8   All
True
0          103   0    0    0    0    0    0   0   0   103
1            0  63   44    0    0    0    0   0   0   107
2            0   0  591    3    0    0    0   0   0   594
3            0   0    4  446   24    0    0   0   0   474
4            0   0    0   24  545   44    0   0   0   613
5            0   0    0    0    6  447   19   0   0   472
6            0   0    0    0    0    5  219   1   0   225
7            0   0    0    0    0    0    1  82   0    83
8            0   0    0    0    0    0    0   0  21    21
All        103  63  639  473  575  496  239  83  21  2692

In [159]:
y1 = df_sub['BUSINESS_HEALTH']
X1 = df_sub[['EBIT/TOTAL_ASSETS', 'NET_SALES/TOTAL_ASSETS', 'WORKING_CAPITAL/TOTAL_ASSETS','CURRENT_ASSETS/CURRENT_LIABILITIES', 'NET_SALES-COGS']]
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.3, random_state=SEED)

In [185]:
dt = DecisionTreeClassifier(criterion='entropy',max_features=5, max_depth=6, random_state=10)  
dt.fit(X1_train, y1_train)

DecisionTreeClassifier(criterion='entropy', max_depth=6, max_features=5,
                       random_state=10)

In [186]:

#y1 = df_sub['BUSINESS_HEALTH']
#X1 = df_sub[['EBIT/TOTAL_ASSETS', 'NET_SALES/TOTAL_ASSETS', 'WORKING_CAPITAL/TOTAL_ASSETS','CURRENT_ASSETS/CURRENT_LIABILITIES', 'NET_SALES-COGS']]

# Split into training and test sets
SEED = 1
#X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.3, random_state=SEED)

y1_pred = dt.predict(X1_test)

# Check the AUC of predictions
acc1 = accuracy_score(y1_test,y1_pred) * 100
print('Accuracy is :{0}'.format(acc1))

print('\nConfusion Matrix')
print('----------------')
pd.crosstab(y1_test, y1_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Accuracy is :95.91381872213968

Confusion Matrix
----------------

Predicted    0    1    2    3    4    5    6   7   8   All
True
0          107    0    1    0    0    0    0   0   0   108
1            0  102    2    0    0    0    0   0   0   104
2            0    0  594    2    1    0    0   0   0   597
3            0    0    7  476   11    0    0   0   0   494
4            0    0    0    3  547   30    1   0   0   581
5            0    0    0    0    8  471   24   0   0   503
6            0    0    0    0    0   12  198   0   0   210
7            0    0    0    0    0    0    8  69   0    77
8            0    0    0    0    0    0    0   0  18    18
All        107  102  604  481  567  513  231  69  18  2692

In [187]:
# Check the AUC of predictions
false_positive_rate, true_positive_rate, thresholds =roc_curve(y_test, y_pred,  pos_label='your_label')
roc_auc = auc(false_positive_rate, true_positive_rate)
roc_auc

C:\Users\alsalako\Anaconda3\envs\learn-env\lib\site-packages\sklearn\metrics\_ranking.py:572: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  y_true = (y_true == pos_label)

TypeError: 'bool' object is not subscriptable

In [184]:
# Identify the optimal tree depth for given data
max_depths = list(range(1, 4))
train_results = []
test_results = []
for max_depth in max_depths:
    dt = DecisionTreeClassifier(criterion='entropy', max_depth=max_depth, random_state=SEED)
    dt.fit(X1_train, y1_train)
    train_pred = dt.predict(X1_train)
    false_positive_rate, true_positive_rate, thresholds = roc_curve(y1_train, train_pred)
    roc_auc = auc(false_positive_rate, true_positive_rate)
    # Add auc score to previous train results
    train_results.append(roc_auc)
    y_pred = dt.predict(X1_test)
    false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test, y_pred)
    roc_auc = auc(false_positive_rate, true_positive_rate)
    # Add auc score to previous test results
    test_results.append(roc_auc)

plt.figure(figsize=(12,6))
plt.plot(max_depths, train_results, 'b', label='Train AUC')
plt.plot(max_depths, test_results, 'r', label='Test AUC')
plt.ylabel('AUC score')
plt.xlabel('Tree depth')
plt.legend()
plt.show()

ValueError: multiclass format is not supported